.site-header .wrap {
  @extend .d-flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  // padding: calc($spacer * 0.5) 0;
  border: 1px solid red;
  display: inline-flex;

  @include media-breakpoint-up(lg) {
    display: inline-flex;
  }
}
.title-area {
  padding-top: calc($spacer / 2);

  .site-title a {
    background-size: cover;
    background-position: center;
    background-color: red;
    border: 1px solid blue;
  }
}

.btn-mobileNav {
  background-color: transparent;
  flex-direction: row;
  border: none;
  margin-left: auto;
  display: block;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid green;
  padding: $spacer;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.btn-hamburger {
  transform: scale(1.2);
  fill: $utsmokey;
  margin-right: calc($spacer * 0.75);
}
// .btn-mobileNav .collapse {
//   nav.nav-primary {
//     display: none;
//   }
// }

.navLabel {
  color: $utlinkriver;
  font-size: $p-font-size;
}

nav.nav-primary {
  // right: -100vw;
  background-color: $utgray1 !important;
  // this background-color is taking priority over the custom_variables $offcanvas-bg-color and is used in the mobile nav modal bkg
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  margin-bottom: calc($spacer);
  // height: 100%;
  padding-top: calc($spacer * 3);
  // align-items: stretch;

  margin-left: calc($spacer / 2);
  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
  ul.menu-primary {
    // padding: $spacer 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    // align-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      // border: 2px solid red;
      // background: $utgray1;
      flex-direction: row;
    }

    > .menu-item {
      // height: 3rem;
      display: flex;

      font-size: $p-font-size;
      flex-direction: column;
      align-items: flex-start;
      align-items: stretch;
      align-content: flex-start;
      justify-content: flex-start;
      // background-color: pink;
      display: block; // allows sub menu to flow from bottom
      max-width: fit-content;
      position: relative;

      a {
        padding: $spacer;
        // height: auto;
        // border: 1px solid green;
        height: 100%; // makes menu-items stay same height even when more than one line
        // background-color: orange;
        text-decoration: none;
        color: $utsmokeytext;
        display: block;
        // :before {
        //   // makes full button clickable
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   bottom: 0;
        //   left: 0;
        //   z-index: 1;
        // }
        &:hover {
          background: $utcoolrock;
          background: $utgray2;
          cursor: pointer;
          // border: 1px solid purple;
          // height: 3rem;
        }

        //   &.current-menu-item :first-of-type,
        //   > .current-menu-ancestor {
        //     background: $utcoolrock;
        //     a {
        //       font-weight: bold;
        //     }
        //   }
        // }
        span {
          margin: 0;
          padding: 0;
        }
      }

      &.menu-item-has-children {
        &:hover {
          @include media-breakpoint-up(lg) {
            ul.sub-menu {
              visibility: visible;
              margin-top: 0;
              position: absolute;
            }
          }
        }
      }
      ul.sub-menu {
        // display: inline-block;
        // background-color: greenyellow;
        height: auto;
        // margin: 0 -1rem -1rem -1rem;
        margin: 0 0 0 calc($spacer * 3);
        width: calc(100% - 2rem);
        // margin-bottom: -1rem;
        border-bottom: 2px solid $utgray1;
        padding: $spacer 0;
        z-index: 10;
        list-style: none;
        position: relative;
        display: block;

        font-size: calc($p-font-size * 0.92);
        @include media-breakpoint-up(lg) {
          position: absolute;
          margin: 0.5rem 0 -1rem 0;
          display: flex;
          flex-direction: column;
          margin-top: -300rem; // just pushing content off screen so doesn't mess with height of parent
          visibility: hidden;
          padding: 0 0;
          min-width: 130%;
        }
        li a {
          background-color: $utgray1;

          &:hover {
            background: $utcoolrock;
            cursor: pointer;
            border: 1px solid purple;
            display: block;
            // height: 3rem;
          }
        }
      }
    }
  } // end ul
}

li.current-menu-item > a {
  background: $utgray2;
  box-shadow: inset 0px -2px $utorange;
  // background-color: $utorange;
}

// li.menu-item .menu-item-has-children > a {
//   &:hover {
//     border: 5px solid greenyellow;
//   }
// }
