.site-header .wrap {
  @extend .d-flex;
}

nav.nav-primary {
  // right: -100vw;
  background-color: $utgray1 !important;
  display: flex;
  align-items: stretch;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  margin-bottom: calc($spacer);
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    // background-color: red;
    li {
      // height: 3rem;
      display: flex;
      align-items: center;
      // background-color: pink;
    }
  }
}
.genesis-nav-menu {
  //background: $utgray1;
  // font-size: calc($font-size-sm * 0.9);
  font-size: var(--wp--custom--typography--tiny);
  // border: 1px solid blue;
  padding: $spacer 0;
  list-style: none;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  // gap: calc($spacer * 1);
  margin-left: calc($spacer / 2);
  @include media-breakpoint-up(lg) {
    // border: 2px solid red;
    background: $utgray1;
    flex-direction: row;
  }

  li.menu-item {
    display: block;
    align-content: space-between;
    position: relative;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0;
    width: 100%;
    // border: 0.5px solid green;
    @include media-breakpoint-up(lg) {
      width: auto;

      transition-duration: 0.5s;
    }
    a {
      text-decoration: none;
      color: $utsmokeytext;
      display: block;
      :before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
    &.current-menu-item,
    &.current-menu-ancestor {
      background: $utcoolrock;
    }
    &:hover {
      background: $utcoolrock;
      cursor: pointer;
      // height: 3rem;
    }
    ul {
      background: $utgray1;
      display: flex;
      left: 0;
      margin: calc($spacer / 2) 0 0 0;
      min-width: 10rem;
      padding-left: 0;

      @include media-breakpoint-up(lg) {
        display: none;
        opacity: 0;

        // transition: all 0.5s ease;
        visibility: hidden;
        position: absolute;

        z-index: 10;
      }
    }

    .sub-menu {
      display: inline-block;
      height: auto;
      margin: 0 -1rem -1rem -1rem;
      width: calc(100% + 2rem);
      margin-bottom: -1rem;

      border-bottom: 2px solid $utgray1;
      @include media-breakpoint-up(lg) {
        margin: 0.5rem 0 -1rem 0;
      }

      li.menu-item {
        padding-left: calc($spacer * 2);
        font-size: 90%;
        z-index: 12;
      }
    }
  }

  li.current-menu-item a,
  > li.current-menu-ancestor > a {
    font-weight: bold;
  }

  @include media-breakpoint-up(lg) {
    li:hover > ul,
    li:focus-within > ul,
    li ul:hover,
    li ul:focus {
      visibility: visible;
      opacity: 1;
      display: block;
      position: absolute;
      // top: 2.5rem;
    }
    li ul li {
      height: auto;
      padding: 0.5rem 1rem;
      &:hover {
        background: $utcoolrock;
        @media screen and (min-width: 900px) {
          transition: all 0.5s ease;
        }
        cursor: pointer;
        height: auto;
        width: 100%;
      }
    }
  }
  li.current-menu-item {
    background: $utgray2;
    // border-bottom: 2px solid $utorange;
    @include media-breakpoint-up(lg) {
      transition: all 0.5s ease;
    }
    // width: 100%;
    // text-align: center;
  }
}

.btn-mobileNav {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: block;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.btn-mobileNav .collapse {
  nav.nav-primary {
    display: none;
  }
}

.navLabel {
  color: $utlinkriver;
  font-size: var(--wp--custom--typography--tiny);
}
